# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Lists (yesterday's overflow) & Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [13]:
# string.lstrip()

name = "      h o   John Smith"

print(name.lstrip(" ""ho")) #"h"means take out the h

John Smith

##### .rstrip()

In [17]:
# string.rstrip()
name= "Bill Ross     th"
print(name.rstrip(" " "t" "h"))

Bill Ross

##### .strip()

In [29]:
# string.strip()
name = "    w  John Smith r  "
print(name.strip(" w"" r"))

John Smith

##### .title()

In [32]:
# string.title()
president = "joe a biden"
print(president.title())

#help(str)

Joe A Biden

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [113]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
#appending to a new list
new_list= []
for name in names:
    new_list.append(name.title().strip())
print(new_list)

#replacing the items in list directly
for i in range(len(names)):
    names[i] = names[i].strip().title()
print(names)

['Connor', 'Max', 'Evan', 'Jordan']
['Connor', 'Max', 'Evan', 'Jordan']

### Lists

##### Declaring Lists

In [41]:
l_1 = [] # Empty List Declaration

names = ['Max', 37 , 'Kathy', 456.9, 'Hong' , 'Tim']

print(names)

['Max', 37, 'Kathy', 456.9, 'Hong', 'Tim']

##### Indexing a List

In [45]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0]) #max

# Print starting at index 1 going to the end
print(names[1:]) #assuming from 1 to end

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2]) #assuming from 0 to 1 excluding 2

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2]) # no stop, step of 2 start at 2, jump 2

# print starting at the back and present in reverse order
print(names[::-1]) #default start and step, going from back

"Nate"[::-1]

['Max', 37, 'Kathy', 456.9, 'Hong', 'Tim'][::-1]

Max
[37, 'Kathy', 456.9, 'Hong', 'Tim']
['Max', 37]
[37, 456.9, 'Tim']
['Tim', 'Hong', 456.9, 'Kathy', 37, 'Max']

['Tim', 'Hong', 456.9, 'Kathy', 37, 'Max']

##### .append()

In [51]:
print(names)

names.append('Derek')
print(names)

['Max', 37, 'Kathy', 'Taty', 456.9, 'Hong', 'Tim', 'Derek', 'Derek', 'Derek']
['Max', 37, 'Kathy', 'Taty', 456.9, 'Hong', 'Tim', 'Derek', 'Derek', 'Derek', 'Derek']

##### .insert()

In [52]:
# list.insert(index,value)
names.insert(3, "Taty")
print(names)

['Max', 37, 'Kathy', 'Taty', 'Taty', 456.9, 'Hong', 'Tim', 'Derek', 'Derek', 'Derek', 'Derek']

##### .pop()

In [54]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

senior_instructor = names.pop(0) #remove derek and store in senior_instructor
print(senior_instructor)
print(names)

Max
[37, 'Kathy', 'Taty', 'Taty', 456.9, 'Hong', 'Tim', 'Derek', 'Derek', 'Derek']


##### .remove()

In [73]:
# value to be removed , not index
names.remove('Hong')
print(names)

while 'Hong' in names:
    print(names)
    names.remove('Hong')
    
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [76]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
#del(names[1])
#print(names) #can cause index errors 

#reassigning a value by index
names[1]="Tayana"
print(names)

[37, 'Tayana', 456.9, 'Tim', 'Derek', 'Derek']

##### Concatenating Two Lists

In [78]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [83]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]
print(names)
print(names[3][2])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Tameka

##### Looping Through Lists

In [90]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])


    
# Loop with a for loop (Using the 'in' keyword)
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

### Working With Lists

##### min()

In [114]:
# min(list)
numbers = [4,2,87,45,16,1,80]

print(min(numbers))

1

##### max()

In [115]:
# max(list)
print(max(numbers))

87

##### sum()

In [117]:
# sum(list)
print(sum(numbers))

235

##### sorted()

In [126]:
# sorted(list)
#print(sorted(numbers))

print(numbers)
sorted_numbers= sorted(numbers)
print(f'Original numbers list: {numbers}')
print(f'Sorted numbers list: {sorted_numbers}')

print(sorted(['Nate','Zebra','Bravo','zebra','justin','0'])) #numbers, then capital first

[4, 2, 87, 45, 16, 1, 80]
Original numbers list: [4, 2, 87, 45, 16, 1, 80]
Sorted numbers list: [1, 2, 4, 16, 45, 80, 87]
['0', 'Bravo', 'Nate', 'Zebra', 'justin', 'zebra']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [128]:
# list.sort()
print(f'Before Sort: {numbers}')

numbers.sort()

print(f'After sort: {numbers}')


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

Before Sort: [4, 2, 87, 45, 16, 1, 80]
After sort: [1, 2, 4, 16, 45, 80, 87]

##### Copying a List

In [130]:
# [:] copies a list, doesn't alter original
numbers_3 = numbers[:]
print(numbers_3)
print(numbers)

[1, 2, 4, 16, 45, 80, 87]
[1, 2, 4, 16, 45, 80, 87]

##### 'in' keyword

In [143]:
l_teachers = ['joel','Derek','nate', 'Brain','sam','marcus']

if 'Derek' in l_teachers:
    print('Derek is a Teacher at CT')
else:
    print('Derek is not a teacher at CT')
    
    
for name in l_teachers:
    if 'B' in name: #anywhere
        print('Name includes "B"')
    else:
        print('Name does not includes with')
print('---------')
        
for name in l_teachers:
    if 'B' in name[0]:
        print('This name starts with B')
    else:
        print('Does not starts with B')

Derek is a Teacher at CT
Name does not includes with
Name does not includes with
Name does not includes with
Name includes "B"
Name does not includes with
Name does not includes with
---------
Does not starts with B
Does not starts with B
Does not starts with B
This name starts with B
Does not starts with B
Does not starts with B

##### 'not in' keyword

In [144]:
if 'Nicole' not in l_teachers:
    print('Nichole is not an instructor')

Nichole is not an instructor

##### Checking an Empty List

In [148]:
# if l_1: or if l_1 = []

l_2 = [1]

if l_2:
    print('it is a list with contents')
    
if l_2 == []:
    print('empty list')

it is a list with contents

##### Removing Instances with a Loop

In [154]:
# while, remove
names = ['Julia','Connor', 'Jeff', 'Alex', 'Julia', 'Rob','Julia', 'Claire']

while 'Julia' in names:
    names.remove('Julia')
    print(names)
    
print('-----')
    
print(names)

['Connor', 'Jeff', 'Alex', 'Julia', 'Rob', 'Julia', 'Claire']
['Connor', 'Jeff', 'Alex', 'Rob', 'Julia', 'Claire']
['Connor', 'Jeff', 'Alex', 'Rob', 'Claire']
-----
['Connor', 'Jeff', 'Alex', 'Rob', 'Claire']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [188]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names_2 = []

for name in names:
    if name not in names_2:
        names_2.append(name)
        
print(names_2)


##########

for el in names:
    count = names.count(el)
    while count >1:
        names.remove(el)
        count -=1
print(names)

##########
    

for i in names:
    no_dups_names= list(set(names))
    
print(no_dups_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']
['evan', 2, 3, 'max', 4, 'connor', 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [196]:
# number comprehension

# With a regular for loop
nums=[]
for i in range(100):
    nums.append(i)
print(nums)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition

print('\n')
#[variable(or transformed), transform, condition]

nums_comp= [i**2 for i in range(100) if  i % 2 ==0]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [203]:
# square number comprehension
squares= [x**2 for x in range(10)]
print(squares)

# comparable appending version
squares_reg=[]

for x in range(10):
    squares_reg.append(x**2)
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [205]:
# string comprehension

names= ['Connor', 'Jeff', 'Alex','Rob','Julia','Claire']

first_char_comp=[name[0] for name in names]

print(first_char_comp)

#OG for loop version

first_char = []

for name in names:
    first_char.append(name[0])
print(first_char)

['C', 'J', 'A', 'R', 'J', 'C']
['C', 'J', 'A', 'R', 'J', 'C']

In [210]:
#using the 'if' statement.. if always comes after 'for'
C_names= [first_name for first_name in names if first_name[0] == 'C']

print(C_names)

#OG for loop version
c_reg = []
for first_name in names:
    if first_name[0] == 'C':
        c_reg.append(first_name)
print(c_reg)

['Connor', 'Claire']
['Connor', 'Claire']

In [215]:
# else 
c_names_2= [first_name if first_name[0] == 'C' else False for first_name in names]
print(c_names_2)
#just dont use it

['Connor', False, False, False, False, 'Claire']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [228]:
# not allow to change 
tup_1 = 1,2,3 #first way to create a tuple
tup_2 = (1,2,3) #another way to creat a tuple

print(type(tup_1))
print(type(tup_2))

print(tup_1[0])

#tup_1[1]= 50 #error

#looping over a tuple
for number in tup_1:
    print(number)
print('----')
#index loops
for i in range(len(tup_1)):
    print(tup_1[i])

<class 'tuple'>
<class 'tuple'>
1
1
2
3
----
1
2
3

##### sorted()

In [226]:
tup_3 = (20,5,1,3,9,45)

sorted_tup = tuple(sorted(tup_3))

print(sorted_tup)

(1, 3, 5, 9, 20, 45)

##### Adding values to a Tuple

In [238]:
print(tup_1)

#tup.append(4)#error can not add

tup_1 = tup_1 + (5,7,6,'Hong')
print(tup_1)

(1, 2, 3, 5, 7, 6)
(1, 2, 3, 5, 7, 6, 5, 7, 6, 'Hong')

## Functions

##### User-Defined vs. Built-In Functions

In [246]:
# user defined function
def helloWord () :
    return "Hello World!"


#calling a function

print(helloWord())


# showing the function in memory
print(helloWord)

Hello World!
<function helloWord at 0x1017d6040>

##### Accepting Parameters

In [251]:
# order matters
# a variable can be any type of python object

def printFullName(first,last):
    return f'Hello {first} {last}!'

print(printFullName('Hong','Gao'))
print(printFullName('Gao','Hong'))

print(printFullName(last='Gao',first='Hong'))

Hello Hong Gao!
Hello Gao Hong!
Hello Hong Gao!

##### Default Parameters

In [253]:
# Default params must come after non-default params in definitions at all times

def printAgentName(first, last='Bond'): #order matters
    return f'The name is..{first} {last}'
print(printAgentName('James'))
print(printAgentName('James','Temple'))

The name is..James Bond
The name is..James Temple

##### Making an Argument Optional

In [268]:
def printHorseName(first,middle=' ', last='Ed'):
    if middle != "":
        return f'Hello {first} {middle}{last}'
    else:
        return f'Hello {first}{last}'
    

print(printHorseName("Mr.", middle='Jake'))

Hello Mr. JakeEd

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

In [274]:
def my_range(stop, start=0, step=1):
    for i in range(start,stop,step):
        print(i)

my_range(20,1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [278]:
def addNums(num1, num2):
    return num1 + num2

addition = addNums(5,4)
print(addition)

9

##### *args / **kwargs (AKA KeyWord Args)

In [284]:
# args stands for arguments, takes in ANY amount of arguments as Params
# must be last if mutiple parameters are present 

def printArgs(num1,*args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)


    for arg in args:
        print(arg)
        
printArgs(12, 'DragonZord', 'vanilla', 2, 3, name="Nate", testing=123)

12
('DragonZord', 'vanilla', 2, 3)
{'name': 'Nate', 'testing': 123}
DragonZord
vanilla
2
3

##### Docstring

In [303]:
def printNames(list_1):
    """
       printNames(List_1)
       Function requires a list to be passed as an arguement
       and will print the contents of the list. Expecting a list of names(strings) to be passed in.
       
    """
    for name in list_1:
        print(name)
        
        
printNames(['Nate', 'Jonathan','Marcus'])

Nate
Jonathan
Marcus

##### Using a User Function in a Loop

In [289]:
def printInput(answer):
    print(answer)

while True:
    ask = input('What do you want to do?')
    
    printInput(ask)
    
    response =input('ready to quit? Y/N')
    if response.lower() == 'y':
        break

What do you want to do? play

play

ready to quit? Y/N code
What do you want to do? y

y

ready to quit? Y/N y

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [299]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def fullNames(first_list, last_list):
    new_list = []
    for i in range(len(first_list)):
        new_list.append(first_list[i] + " " + last_list[i])
    return new_list

fullNames(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [297]:
# placement of variable declaration matters
number=3 #Global variable 

def myFunc():
    num_3 = 6 # Local function variable 
    return num_3

#print(num_3) #cause error because variable is local to function

return_num = myFunc()

print(return_num)

x= ['nate','marcus', 'Jake']
for x in names:
    print(x)
    
print(x)

6
nate
marcus
Jake
Jake

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [319]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]

def list1(a):
    l_2=[]
    for i in range(len(a)):
        if a[i] < 10:
            l_2.append(a[i])
    return l_2
            
        
            
            
list1(l_1)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [331]:
# list.sort()
#print(f'Before Sort: {numbers}')

#numbers.sort()

#print(f'After sort: {numbers}')
#1) merged
#2) sorted



l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

def listt(list1,list2):
    l_3= []
    l_3= list1+ list2
    l_3.sort()
    return l_3


listt(l_1,l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]